@model IEnumerable<OdeToFood.Web.ViewModels.RistoranteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ristoranti</h2>

<p>
    @Html.ActionLink("Nuovo Ristorante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CucineIdTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ricette)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @foreach (var t in item.CucineIdTipo)
            {
                <li>@Html.DisplayFor(modelCucinaTipi => t.Text)</li>
            }
        </td>
        <td>
            @foreach (var r in item.Ricette)
            {
                <li>@Html.DisplayFor(modelRicette => r)</li>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Modifica Ricette", "EditRicette", new { id = item.Id }) |
            @Html.ActionLink("Dettagli", "Details", new { id = item.Id }) |
            @Html.ActionLink("Elimina", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
