@model IEnumerable<OdeToFood.Web.ViewModels.CucinaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tipi di Cucina</h2>

<p>
    @Html.ActionLink("Nuovo Tipo di Cucina", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ricette)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div>@Html.DisplayFor(modelItem => item.Tipo)</div>
        </td>
        <td>
            @foreach (var nome in item.Ricette)
            {
                <div>@Html.DisplayFor(modelTipo => nome)</div>
            }
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Elimina", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
